<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">
    <!-- aop动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 监控注解处理器 -->
    <bean class="com.jd.ump.annotation.JAnnotation">
        <!-- 初始化系统存活监控点 key-->
        <property name="systemKey" value="jipiao.work.system.monitor"/>
        <!-- 初始化系统的jvm监控 key-->
        <property name="jvmKey" value="jipiao.work.jvm.monitor"/>

        <property name="appName" value="jipiao.work"/>
    </bean>
</beans>