<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-autowire="byName">

    <!-- POP统一配置管理器客户端 -->
    <bean id="configCenterClient" class="com.jd.pop.configcenter.client.DefaultConfigCenterClient" init-method="init"
          destroy-method="destroy">
        <property name="zkServers" value="${config.center.zkServers}"/>
        <property name="storeFilePath" value="${app.impl.log.path}"/>
        <property name="zNodePath" value="${config.center.zNodePath}"/>
    </bean>

    <!-- POP统一配置管理器工具类 -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.flight.carryprice.common.util.GenericConfiger.init"/>
        <property name="arguments">
            <list>
                <ref bean="configCenterClient"/>
            </list>
        </property>
    </bean>
</beans>