<!-- footer of this site, you should not use this page separately -->
<div class="footer">
    <div class="footer-nav">
        <a href="http://www.19e.com.cn/gongsixinxi/gongsijieshao.html" target="_blank">关于我们</a><b>|</b><a href="http://www.19e.com.cn/hezuojiameng/dandianjiameng.html" target="_blank">合作加盟</a><b>|</b><a href="http://www.19e.com.cn/gongsixinxi/meitibaodao.html" target="_blank">媒体报道</a><b>|</b><a href="tencent://message/?uin=800001919&Site=http://dl.19e.cn&Menu=yes" target="_blank">在线客服</a><b>|</b><a href="http://www.19e.com.cn/zhaoxiannashi/jishu.html" target="_blank">诚聘英才</a><b>|</b><a href="http://dl4.19e.cn/eplat/pages/newHelpCenter/index.html" target="_blank">帮助中心</a>
      </div>
      <div class="copyright">
        京ICP证100747号 京ICP备10020256<br>北京市公安局海淀分局备案编号：1101084911<br>Copyright(c)2009-2014 北京一九易站电子商务有限公司 版权所有
      </div>
</div>