<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	
	<mvc:annotation-driven />
	
<!-- 	<mvc:resources location="/res/" mapping="/res/**" /> -->
	<!--<mvc:resources location="/js/" mapping="/js/**"/>-->
	<!--<mvc:resources location="/images/" mapping="/images/**"/>-->
	<!--<mvc:resources location="/css/" mapping="/css/**"/>-->
	<!--<mvc:resources location="/ui/" mapping="/ui/**"/>-->
<!-- 	<mvc:default-servlet-handler /> -->
	
	<!-- 启用spring注解 -->
	<context:annotation-config />

	<!-- 使Spring支持自动检测组件，如注解的Controller -->
	<!-- 扫描所有的controller 但是不扫描service -->
	<context:component-scan base-package="com.flight.carryprice.controller">
 		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
 		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	</context:component-scan>


	<!-- 启动spring mvc的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<!-- 配置信息转换，将用@responsebody注解的返回值转换为json返回前台，编码为utf-8 -->
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!--<bean id="viewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>-->

	<!-- velocityConfigurer begin-->
	<bean id="viewResolver"
		  class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name= "prefix" value= "/"/>
		<property name="suffix" value=".vm" />
		<property name="requestContextAttribute" value="rc"/>
		<!--<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />-->
		<!--<property name="dateToolAttribute" value="date" />-->
		<!--<property name="numberToolAttribute" value="number" />-->
	</bean>

	<!--<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name= "prefix" value= "/"/>
		<property name="suffix" value=".vm" />
		<property name="requestContextAttribute" value="rc"/>
		<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
		<property name="dateToolAttribute" value="date" />&lt;!&ndash;日期函数名称&ndash;&gt;
		<property name="numberToolAttribute" value="number" />&lt;!&ndash;数字函数名称&ndash;&gt;
		<property name="layoutUrl" value="/index.vm" />
		<property name="viewClass" value="VelocityLayoutToolbox2View" />
	</bean>-->

	<bean id="velocityConfigurer"
		  class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>pages/</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="contentType">text/html;charset=UTF-8</prop>
			</props>
		</property>
	</bean>
	<!-- velocityConfigurer end-->

	<!-- 上传文件时需要用到的分解器，默认将编码转为utf-8 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />  <!-- 100M -->
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
	</bean>
	
	
	<!--&lt;!&ndash; 初始化数据 &ndash;&gt;-->
	<!--<bean class="com.flight.frame.initdata.InitDataListener" />-->
	<!---->
	<!--&lt;!&ndash; 异常处理 &ndash;&gt;-->
	<!--<bean class="com.flight.frame.handler.MyExceptionHandler"/>-->
	
</beans>



