<!DOCTYPE html>
<style>
    <!--
	.radio input{width:12px;position:relative;top:4px}
	-->
</style>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<div class="pop-wrap">
		<div class="oz order-mes-mod">
			<form id="aircompany_form">			
				<table>
					<tr>
						<td><span style="color: red">*</span>航线类型</td>
						<td>
							<input type="radio" name="airlineType" value="0" class="radio" onclick="javascript:showOrdinary();" checked="checked">普通
							<input type="radio" name="airlineType" value="1" class="radio" onclick="javascript:hideOrdinary();">热门
						</td>	
					</tr>
					<tr class="ordinary">
						<td><span style="color: red">*</span>出发机场</td>
						<td>
							<select id="depCode" name="depCode" class="text text3" >
								<option value="***">***-所有</option>
								#foreach($airport in ${airportList})
									<option value="${airport.code}">$!{airport.code}—$!{airport.name}</option>
								#end
							</select>
						</td>			
					</tr>
					<tr class="ordinary">
						<td><span style="color: red">*</span>到达机场</td>
						<td>
							<select id="arrCode" name="arrCode" class="text text3">
								<option value="***">***-所有	</option>
								#foreach($airport in ${airportList})
                                    <option value="${airport.code}">$!{airport.code}—$!{airport.name}</option>
								#end
							</select>
						</td>
					</tr>
					<tr>
						<td><span style="color: red">*</span>航空公司</td>
						<td>
							<select id="airWays" name="airWays" class="text text3">
								<option value="***">***-所有</option>
								#foreach($aircorp in ${aircorpList})
                                    <option value="$!{aircorp.code}">$!{aircorp.code}—$!{aircorp.name}</option>
								#end
							</select>
						</td>
					</tr>
					<tr>
						<td><span style="color: red"></span>起飞日期</td>
						<td><input type="text" name="depDate" class="text"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d'})"/></td>
					</tr>
                    <tr>
						<td><span style="color: red">*</span>更新时刻</td>
						<td><input type="text" name="planTime" class="text validate[required]"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'%y-%M-%d %H:%m:%s'})"  /></td>
					</tr>
				</table>
				
	            <div class="operate-box2" style="padding-left: 200px">
	            	<input type="button" class="btn btn4" value="返回" onclick="javascript:goBack();">
		            <input type="button" id="saveBtn" class="btn btn3" value="确定" onclick="javascript:save();">
	            </div>
            </form>            
		</div>
	</div>
	<div id="flown" class="inputContainer"></div>
<script type="text/javascript">
	//提交时表单验证
	$(function(){
	  $('#aircompany_form').validationEngine({
		    scroll: true, //屏幕自动滚动到第一个验证不通过的位置。
		    addPromptClass: 'formError-noArrow formError-text',  //样式
		    binded: false,   //是否绑定即时验证
		    //showArrow: false,  //是否显示提示信息
		    promptPosition: 'centerRight', //提示信息位置
		    showOneMessage: true,  //是否只显示一个提示信息
		    autoPositionUpdate :true,  //是否自动调整提示层的位置
	    	maxErrorsPerField: 1  //单个元素显示错误提示的最大数量，值设为数值。默认 false 表示不限制。
	  });
	});
	//保存
	function save(){
		var isValid = $("#aircompany_form").validationEngine("validate");
		if(!isValid){
			return;
		}
		//把表单转为json对象
		var jsonObj = $("#aircompany_form").serializeObject();
		if(jsonObj.airlineType=='0' && jsonObj.depCode==jsonObj.arrCode && jsonObj.depCode!=""){
			if(jsonObj.depCode!="***"){
				alert("出发机场和到达机场不能相同");
				return;
			}
		}
		var jsonStr = JSON.stringify(jsonObj);	
		if(!confirm("确定要保存吗?")){
			return;	
		}
		$.ajax({
			 url: "${staticPath}/fd/fdUpdatePolicy/doAddFdUpdatePolicy",
			 data: {
				 "jsonStr" : jsonStr,
			 },
			 dataType:"json",
			 success: function(data){
				 if(data == '1'){
					 alert("新增成功");
					 window.location.href = "${staticPath}/fd/fdUpdatePolicy/getFdUpdatePolicyList";
				 }else{
                     alert("新增失败");
				 }
			 }
		 });	
	}
	//返回
	function goBack(){
		$("#dialog").empty().dialog("close");
	}
	//显示航线
	 function showOrdinary(){
	    	$(".ordinary").show();
	    }
	//隐藏航线
	 function hideOrdinary(){
	    	$(".ordinary").hide();
	    }
    
</script>
</body>
</html>
