<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>京东国内机票运价管理系统</title>
    #parse('/comm/public.vm')
</head>
<body>
    #parse('/comm/header.vm')
<!-- content start -->
<div class="content">
    <!--left-content start-->
    #parse('/comm/left.vm')
    <!--left-content end-->
    <!--right-content start  -->
    <div class="right-content">
        <div class="crumb-nav">
            <a href="javascript:goHomepage();">首页</a>&gt;
            <a href="javascript:void(0);" class="href0">FD运价管理</a>&gt;
            <a href="javascript:void(0);" class="href0">FD运价</a>
        </div>
   		<form id="searchForm" action="${staticPath}/fd/fdCarryPriceInfo/getFdCarryPriceInfoList" method="post">
   		<!-- 此处用于搜索时,所传递的参数 结束 -->
    	<div class="main-con tickets-order-view-wrap">
    		<!-- 搜索内容 start -->
			<div class="search-wrap-mod mb oz">
                <dl class="dl-mod fl">
                    <dt>出发机场：</dt>
                    <dd>
                        <select class="select-mod" id="depCode" name="depCode">
                           <option value="">--请选择--</option>
                            #foreach($airport in ${airportList})
                                <option  value="${airport.code}" #if($!{queryBean.depCode} == $!{airport.code}) selected #end>
                                    $!{airport.code}—$!{airport.name}
                                </option>
                            #end
                        </select>
                    </dd>
                </dl>
                
                <dl class="dl-mod fl">
                    <dt>到达机场：</dt>
                    <dd>
                        <select class="select-mod" id="arrCode" name="arrCode">
                           <option value="">--请选择--</option>
                            #foreach($airport in $!{airportList})
                                <option  value="${airport.code}" #if($!{queryBean.arrCode} == $!{airport.code}) selected #end>
                                    $!{airport.code}—$!{airport.name}
                                </option>
                            #end
                        </select>
                    </dd>
                </dl>
                
                <dl class="dl-mod fl">
                    <dt>航司：</dt>
                    <dd>
                        <select class="select-mod" id="airWays" name="airWays">
                           <option value="">--请选择--</option>
                            #foreach($aircorp in ${aircorpList})
                                <option  value="$!{aircorp.code}" #if($!{aircorp.code} == $!{queryBean.airWays}) selected="selected" #end>
                                    $!{aircorp.code}—$!{aircorp.name}
                                </option>
                            #end
                        </select>
                    </dd>
                </dl>
                <dl class="dl-mod fl">
                    <dt>舱位：</dt>
                    <dd>
                        <input type="text" class="text text3" id ="seat" name="seat" value="$!{queryBean.seat}" />
                    </dd>
                </dl>
                <dl class="dl-mod fl">
                    <dt>状态：</dt>
                    <dd>
                        <select class="select-mod" id="state" name="state">
                           <option value="">--请选择--</option>
                           <option value = "0" #if($!{queryBean.state}==0) selected #end>禁用</option>
                           <option value = "1" #if($!{queryBean.state}==1) selected #end>启用</option>
                        </select>
                    </dd>
                </dl>
                
                <div class="search-btn-box fl" style="padding-left:88px;">
                    <input type="button" id="query" class="btn btn2" value="查询" />
                    <input type="button" class="btn btn2" onclick="add()" value="新增" />
                    <input type="button" class="btn btn2" onclick="addTask(0)" value="刷入redis" />
                    <input type="button" class="btn btn2" onclick="isShow()" value="批量启用" />
                    <input type="button" class="btn btn2" onclick="isHide()" value="批量停用" />
                    #if($!{sessionScope.sessionUser.username}=='admin' || $!{sessionScope.sessionUser.username}=='jdtest')
	                    <input type="button" class="btn btn2" onclick="cleanCcsCarryprices(0)" value="FD清除redis" />
	                    <input type="button" class="btn btn2" onclick="cleanCcsCarryprices(1)" value="NFD清除redis" />
	                    <input type="button" class="btn btn2" onclick="cleanCcsCarryprices(2)" value="SSD清除redis" />
                    #end
                </div>
                
                <div class="spacer"></div>
			</div>
			<!-- 搜索内容 end -->
			
			<!-- 搜索结果 start -->
			<div class="order-mes-mod mb">
                <table>
                    <thead>
                        <tr class="single-line-text">
                            <th style="width:2%;"><input type="checkbox" onclick="checkBox('carrypriceId',this.checked)"/></th>
                        	<th style="width:5%;">序号</th>
                            <th style="width:11%;">航空公司</th>
                            <th style="width:16%">出发机场</th>
                            <th style="width:16%;">到达机场</th>
                            <th style="width:6%;">舱位</th>
                            <th style="width:6%;">价格</th>
                            <th style="width:6%;">里程</th>
                            <th style="width:5%;">状态</th>
                            <th style="width:7%;">开始时间</th>
                            <th style="width:7%;">结束时间</th>
                            <th style="width:5%;">操作人</th>
                            <th style="width:6%;">操作</th>                            
                         </tr>
                    </thead>
					<tbody>
                    #if($!{pageInfo.list})
                        #foreach($carryprice in ${pageInfo.list})
							<tr>
                                <td>
                                    <input type="checkbox" value="$!{carryprice.id}" name="carrypriceId">
                                </td>
								<td>$!{velocityCount}</td>
								<td>
                                    #foreach($aircorp in ${aircorpList})
                                        #if($!{carryprice.airWays} == $!{aircorp.code})
                                            $!{aircorp.code}—$!{aircorp.name}
                                        #end
                                    #end
                                </td>
								<td class="text-left">
                                    #foreach($airport in ${airportList})
                                        #if($!{carryprice.depCode} == $!{airport.code})
                                            $!{airport.code}—$!{airport.name}
                                        #end
                                    #end
                                </td>
								<td class="text-left">
                                    #foreach($airport in ${airportList})
                                        #if($!{carryprice.arrCode} == $!{airport.code})
                                            $!{airport.code}—$!{airport.name}
                                        #end
                                    #end
                                </td>
								<td>$!{carryprice.seat}</td>
								<td>$!number.format("#0.00", $!carryprice.carryPrice)</td>
								<td>$!{carryprice.distance}</td>
								<td>
                                    #if($!{carryprice.state}==0)禁用#end
                                    #if($!{carryprice.state}==1)启用#end
								</td>
								<td>$!date.format('yyyy-MM-dd',$!carryprice.takeOffEffectDate)</td>
								<td>$!date.format('yyyy-MM-dd',$!carryprice.takeOffExpireDate)</td>
								<td>$!{carryprice.operator}</td>
								<td><a href="javascript:void(0);" onclick="update('${carryprice.id}')">【修改】</a><br/>
                                    <a href="javascript:void(0);" onclick="compareFD('${carryprice.id}')">【比较】</a>
                                </td>
							</tr>
                        #end
                    #end
                    #if($!{pageInfo.list.size()} == 0)
                    <tr>
                        <td colspan="13">
                            <label style="color: gray;">很抱，没有找到相关记录！</label>
                        </td>
                    </tr>
                    #end
					</tbody>
                </table>
            </div>
            <!-- 搜索结果 end -->
            <!-- 分页 start -->
            <div class="pagelist mb oz">
                #if($!{pageInfo.list.size()}!=0)
                #parse('/comm/pagination.vm')
           		#end
            </div>
            <!-- 分页 end -->
        </div>
        </form>
    </div>
    
    <!-- 弹出层 -->
    <div id="dialog"></div>
    <!-- right-con end -->
</div>
<!-- content end -->
<!-- footer start -->
<!-- footer end -->
<script type="text/javascript">
	//绑定查询按钮
	$(function() {
		$("#query").bind("click", query);

	});
	//查询
	function query() {
		formToTrim("searchForm");
		$("#searchForm").submit();
	}

	//新增
	function add(){
		showDialog("dialog","新增运价信息","${staticPath}/fd/fdCarryPriceInfo/toAddFdCarryPriceInfo");
	}
	
	//修改
	function update(id){
		showDialog("dialog","修改运价信息","${staticPath}/fd/fdCarryPriceInfo/toUpdateFdCarryPriceInfo?id="+id);
	}

    //对比功能
    function compareFD(id){
        showDialog("dialog","比较运价信息","${staticPath}/fd/fdCarryPriceInfo/toCompareFdCarryPriceInfo?id="+id);
    }

    //批量勾选复选按钮
    function checkBox(name,checked){
        $("input[name='"+name+"']").attr("checked",checked);
    }

    //获取选中的id
    function checkIds(){
        var carrypriceIds = "";
        $.each($("input[name='carrypriceId']:checked"),function(){
            carrypriceIds = carrypriceIds + $(this).val() + ",";
        });
        carrypriceIds = carrypriceIds.substring(0, carrypriceIds.length-1);
        return carrypriceIds;
    }

    //批量启用
    function isShow(){
        var carrypriceIds = checkIds();
        if(carrypriceIds.length <= 0){
            alert("请至少选择一个!");
            return "";
        }
        if(!confirm("确定批量启用吗?")) {
            return;
        }
        $.ajax({
            url: "${staticPath}/fd/fdCarryPriceInfo/isShow",
            data: {"carrypriceIds" : carrypriceIds },
            dataType:"json",
            success: function(data){
                if(data == 1){
                    alert("批量启用成功");
                    query();
                }else{
                    alert("批量启用失败");
                }
            }
        });
    }

    //批量禁用
    function isHide(){
        var carrypriceIds = checkIds();
        if(carrypriceIds.length <= 0){
            alert("请至少选择一个!");
            return "";
        }
        if(!confirm("确定批量停用吗?")) {
            return;
        }
        $.ajax({
            url: "${staticPath}/fd/fdCarryPriceInfo/isHide",
            data: {"carrypriceIds" : carrypriceIds },
            dataType:"json",
            success: function(data){
                if(data == 1){
                    alert("批量启用成功");
                    query();
                }else{
                    alert("批量启用失败");
                }
            }
        });
    }

    function addTask(carryPriceType){
        //carrypriceType 运价类型(0:FD，1:NFD，2:SSD)
        var jsonObj = $("#searchForm").serializeObject();
        var airWays = jsonObj.airWays;
        var depCode = jsonObj.depCode;
        var arrCode = jsonObj.arrCode;
        var seat = jsonObj.seat;
        if(depCode != "" && arrCode != "" && depCode == arrCode){
            alert("出发机场和到达机场不能相同");
            return;
        }
        $.ajax({
            url: "${staticPath}/fd/carryPriceTask/queryManualTaskCount",
            data: {
                "carryPriceType" : carryPriceType
            },
            dataType:"json",
            success: function(data){
                if(data > 0){
                    //有任务数据
                    if(!confirm("尚有未执行完成的任务，确定要中断该任务继续执行吗?")){
                        return;
                    }
                    flushRedisTask(carryPriceType, airWays, depCode, arrCode, seat)
                }else{
                    //没有任务数据
                    flushRedisTask(carryPriceType, airWays, depCode, arrCode, seat)
                }
            }
        });
    }

    //插入计划任务表
    function flushRedisTask(carryPriceType, airWays, depCode, arrCode, seat){
        $.ajax({
            url: "${staticPath}/fd/carryPriceTask/addManualTask",
            data: {
                "carryPriceType" : carryPriceType,
                "airWays" : airWays,
                "depCode" : depCode,
                "arrCode" : arrCode,
                "seat" : seat
            },
            dataType:"json",
            success: function(data){
                if(data > 0){
                    alert("刷入redis成功");
                }else{
                    alert("刷入redis失败");
                }
            }
        });
    }
	
	function cleanCcsCarryprices(carryPriceType){
        var jsonObj = $("#searchForm").serializeObject();
        var airWays = jsonObj.airWays;
        var depCode = jsonObj.depCode;
        var arrCode = jsonObj.arrCode;
        var seat = jsonObj.seat;
        if(airWays == "" ){
            alert("请选择航司！");
            return;
        }
        if(depCode != "" && arrCode != "" && depCode == arrCode){
            alert("出发机场和到达机场不能相同");
            return;
        }
		 $.ajax({
			 url: "${staticPath}/fd/fdCarryPriceInfo/cleanRedisForCarryPrice",
			 data: {
                 "carryPriceType" : carryPriceType,
                 "airWays" : airWays,
                 "depCode" : depCode,
                 "arrCode" : arrCode,
                 "seat" : seat
			 },
			 dataType:"json",
			 success: function(data){
				 if(data == 1){
					 alert("清除redis成功");
				 }else if(data == 0){
					 alert("清除redis失败");
				 }else{
					 alert("无权限清除redis缓存");
				 }
			 }
		  });
	}


</script>
</body>
</html>

