<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flight.carryprice.mapper.AlTmpMapper" >
  <resultMap id="BaseResultMap" type="com.flight.carryprice.entity.AlTmp" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="execSql" statementType="STATEMENT">
  	${sql}
  </select>
  
</mapper>