<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flight.carryprice.mapper.JdjpAirwaysTicketTypeMapper">

    <resultMap id="BaseResultMap" type="com.flight.carryprice.entity.JdjpAirwaysTicketType">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="air_ways" property="airways" jdbcType="VARCHAR"/>
        <result column="swith" property="swith" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_speed_ticket" property="isSpeedTicket" jdbcType="TINYINT"/>
    </resultMap>

    <select id="queryCloseSwitchTypeList" resultMap="BaseResultMap">
      select id,air_ways
          from jdjp_airways_ticket_type
      where swith = 3
    </select>

    <!-- 根据航司二字码查询航司出票类型 -->
    <select id="queryTicketTypeByAirways" resultMap="BaseResultMap">
      select
      air_ways,swith,is_speed_ticket
      from
      jdjp_airways_ticket_type
      where
      air_ways = #{airways}
    </select>

</mapper>
